body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1497366216548-37526070297c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

.App {
    border: 1px solid black;
    height: 60vh;
    width: 50vw;
    padding: 2rem;
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 5px 10px silver;
    opacity: 0.75;
    background: black;
}

li {
    padding: 0.5rem;
}

li button {
    margin: 0.5rem;
    color: black;
}

button {
    margin: 0.5rem;
    color: white;
    border: 1px solid silver;
}

button::before {
    margin: 0.5rem;
    color: white;
    border: 1px solid silver;
}

button::after {
    margin: 0.5rem;
    color: white;
    border: 1px solid silver;
}